<div style="text-align:center;vertical-align:middel">
  <a role="button" class="main-btn btn btn-large">Pembelian and Stok</a>
  <a role="button" class="main-btn btn btn-large">Production</a>
  <a role="button" class="main-btn btn btn-large">Marketing sales and development</a>
  <a role="button" class="main-btn btn btn-large">Finance</a>
  <a role="button" class="main-btn btn btn-large">Human Resource</a>
  <a role="button" class="main-btn btn btn-large">Setup Configuration</a>
</div>