<table class="table table-bordered table-hover" width="60%" align="center">
  <thead class="thead">
    <tr class="titleJudul" style="font-size : 12pt">
      <th align="center" colspan="11"><%= form_title(action_name, @title) %></th>
    </tr>
  </thead>
</table>
