<!-- Modal -->
<%= form_tag(m_beli_po_first_h_m_beli_po_second_d_path(@m_beli_po_first_h), method: :delete, class: 'form-horizontal', id: 'destroying_form') do %>
  <div id="destroy_show" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Destroy</h3>
    </div>
    <div class="modal-body">
      <% ["kode_barang", "nama_barang", "qty", "kemasan", "qty2", "harga", "diskon", "total"].each do |item| %>
        <div class="control-group">
          <%= label_tag "destroy[#{item}]", item == 'qty2' ? 'Qty' : item.gsub('_', ' ').titleize, class: 'control-label' %>
          <div class="controls">
            <%= text_field_tag "destroy[#{item}]", "", read_only: true, disabled: 'disabled' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button class="btn btn-primary">Delete</button>
    </div>
  </div>
<% end %>
