<%= form_for(@a_template_cat) do |f| %>
  <table class="table-bordered" align="center" width="60%">
  <tr class="titleJudulTable"><th colspan="3">FORM DATA TEMPLATE CAT</th></tr>
  <%= render partial: "navigator" %>
  <%= render partial: "columns", locals: { f: f, attribute: @attribute } %>
  <tr>
    <th colspan="3" class="titleJudulTable" width="100%">
      <input type="button" value="Tutup" onclick="closingForm()" class="btn" />
    </th>
  </tr>
  </table>
<% end %>
<%= hidden_value(a_template_cats_path) %>