<table class="table-bordered" align="center" width="60%">
  <tr class="titleJudulTable">
    <th colspan="3">
      FORM HAPUS DATA ADMIN MS GROUP
    </th>
  </tr>
  <%= render partial: 'columns', locals: {admin_ms_group: @admin_ms_group} %>
  <tr>
  <th colspan="3" class="titleJudulTable" width="100%">
    <%= link_to "Hapus", admin_ms_group_path(@admin_ms_group), method: :delete, class: :btn, confirm: "Hapus data?" %>
    <%= link_to "Tutup", "#", onclick: "is_tutup()", class: :btn %>
  </th>
</tr>
</table>

<input type="hidden" id="url_back" name="admin_ms_group_back" value="<%= admin_ms_groups_path %>">
