.titleJudul {
  background-color: black;
  font-family     : Arial, Verdana, Helvetica, sans-serif;
  line-height     : 30px;
  color           : #FFFFFF;
}

.titleJudulTable {
  background-color: #070058;
  font-family     : Arial, Verdana, Helvetica, sans-serif;
  line-height     : 24px;
  color           : #FFFFFF;
}  

.tableError {
  font-family     : Arial, Verdana, Helvetica, sans-serif;
  line-height     : 24px;
  color           : #0909F5;
  background-color: rgba(250, 13, 13, 0.25);
  width           : 100%;
  border-color    : #FFFFFF ;  

}  

.trTitleError {
  font-family     : Arial, Verdana, Helvetica, sans-serif;
  line-height     : 24px;
  color           : #FFFFFF;
  background-color: #F50808;
}  

.blankSpot {
  background-color: #FFFFFF;
  font-family     : Arial, Verdana, Helvetica, sans-serif;
  line-height     : 24px;
  color           : #FFFFFF;
}   

.navigasi {COLOR: #000058; FONT-FAMILY: Tahoma; FONT-SIZE: 8pt;FONT-WEIGHT: bold; TEXT-DECORATION: none}
a.navigasi {font-size: 8pt;}


.navigasi_putih {COLOR: #ffffff; FONT-FAMILY: Tahoma; FONT-SIZE: 8pt;FONT-WEIGHT: bold; TEXT-DECORATION: none}
a.navigasi {font-size: 8pt;}

.required.error {
  border: 2px solid red;
}

.main-btn {
  height: 30%;
  margin: 10px;
  width: 40%;
}

.next > a {COLOR: #ffffff; FONT-FAMILY: Tahoma; FONT-SIZE: 8pt;FONT-WEIGHT: bold; TEXT-DECORATION: none}
.page > a {COLOR: #ffffff; FONT-FAMILY: Tahoma; FONT-SIZE: 8pt;FONT-WEIGHT: bold; TEXT-DECORATION: none}
.current > a {COLOR: #ffffff; FONT-FAMILY: Tahoma; FONT-SIZE: 12pt;FONT-WEIGHT: bold; TEXT-DECORATION: none}
.last > a {COLOR: #ffffff; FONT-FAMILY: Tahoma; FONT-SIZE: 8pt;FONT-WEIGHT: bold; TEXT-DECORATION: none}


.divShadowMenu {
    width : 400px;
    height: 650px;

    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
  /* For WebKit (Safari, Google Chrome etc) */  
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#FFFFFF));
    /* For Mozilla/Gecko (Firefox etc) */
    background: -moz-linear-gradient(top, #F0F0F0, #FFFFFF);
    /* For Internet Explorer 5.5 - 7 */

    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000', startColorstr=#F0F0F0, endColorstr=#FFFFFF);
}

.divShadowTitle {
    width    : 880px;
    padding  : 5px;
    position : absolute; 
    left     : 430px; 
    top      : 10px;

    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
  /* For WebKit (Safari, Google Chrome etc) */  
    background: -webkit-gradient(linear, left top, left bottom, from(#FFA74F), to(#FFEAD5));
    /* For Mozilla/Gecko (Firefox etc) */
    background: -moz-linear-gradient(top, #FFA74F, #FFEAD5);
    /* For Internet Explorer 5.5 - 7 */

    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000', startColorstr=#FFA74F, endColorstr=#FFEAD5);
}

.divShadowContent {
    width   : 890px;
    height  : 615px;
    position: absolute; 
    left    : 430px; 
    top     : 45px;


    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
  /* For WebKit (Safari, Google Chrome etc) */  
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#FFFFFF));
    /* For Mozilla/Gecko (Firefox etc) */
    background: -moz-linear-gradient(top, #F0F0F0, #FFFFFF);
    /* For Internet Explorer 5.5 - 7 */

    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000', startColorstr=#F0F0F0, endColorstr=#FFFFFF);
}

.divShadowMenuModul {
    width   : 40%;
    height  : 400px;
    position: absolute  ;
    left    : 360px; 
    top     : 100px;
    text-align:center;
    vertical-align:middel ;


    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
  /* For WebKit (Safari, Google Chrome etc) */  
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#FFFFFF));
    /* For Mozilla/Gecko (Firefox etc) */
    background: -moz-linear-gradient(top, #F0F0F0, #FFFFFF);
    /* For Internet Explorer 5.5 - 7 */

    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000', startColorstr=#F0F0F0, endColorstr=#FFFFFF);
}

